<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EtherListen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EtherListen.Properties.Settings>
            <setting name="txt_ipadd_1" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="txt_ipadd_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txt_ipadd_3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txt_ipadd_4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txtbx_port" serializeAs="String">
                <value>13000</value>
            </setting>
        </EtherListen.Properties.Settings>
    </userSettings>
</configuration>